.footer {
    padding: 0.1rem 1rem;
    background: linear-gradient(135deg, #333, #717681, #333);
    color: #fff;
    text-align: center;
    font-size: 1rem;
    height: auto;
    animation: fadeIn 1.5s ease-in-out;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;

        p {
            margin: 0.5rem 0;
            font-size: 1rem;
            line-height: 1.6;
            animation: fadeIn 1.5s ease;

            &:last-child {
                margin-top: 1rem;
            }
        }
    }

    // Media Queries for Responsiveness
    @media (max-width: 768px) {
        .footer-container {
            font-size: 0.9rem;

            p {
                font-size: 0.85rem;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0.1rem 1rem;

        .footer-container {
            font-size: 0.8rem;

            p {
                font-size: 0.75rem;
            }
        }
    }

    // Animations
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeInDown {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}